{% extends 'main/layout.html' %}

{% block title %}Выдача товара из заказа №{{ order.order_number }}{% endblock %}

{% block content %}
<div class="container">
    <h1>Выдача товара из заказа №{{ order.order_number }}</h1>
    <h2>Товары в заказе:</h2>
    <form method="POST">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th>Выбрать</th>
                    <th>Название товара</th>
                    <th>Вес</th>
                    <th>Стоимость</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td><input type="checkbox" name="issued_items" value="{{ item.id }}"></td>
                    <td>{{ item.item_name }}</td>
                    <td>{{ item.item_weight }}</td>
                    <td>{{ item.item_cost }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">Нет товаров в заказе.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-success">Выдать выбранные товары</button>
    </form>
</div>
{% endblock %}
